/*establish colors*/
:root {
    --dark-green: #48745D;
    --light-green:#C9EDC1;
    --xlight-green:#E6F8E2;
    --light-grey:#F2F2F2;
    --blue-grey:#EEF2F5;
}

/*styles*/

a {
    color:var(--dark-green)!important;
    font-weight:500!important;
}

.alert-success {
    --bs-alert-color: var(--dark-green);
    --bs-alert-bg: var(--xlight-green);
    --bs-alert-border-color: transparent;
}

/*forms*/
.form-control {
    border-radius:100px!important;
}

.form-control:focus {
    border-color: var(--dark-green)!important;
    box-shadow: 0 0 0 .25rem rgba(117, 186, 150, .25)!important;
}

textarea.form-control {
    border-radius:5px!important;
}

.bg-secondary{
    background-color:#EEF2F5!important;
    border-radius:20px;
}



/*buttons*/

.btn {
    border-radius:100px!important;
    padding:10px 50px!important;
    width:100%!important;
    margin:10px 0;
}
.btn-primary, .btn-success{
    background-color:var(--dark-green)!important;
    border-color:var(--dark-green)!important;
    color:#fff!important;
}

.btn-info{
    background-color:var(--light-green)!important;
    border-color:var(--light-green)!important;
    color:#000!important;
}

.btn-xlight{
    background-color:var(--xlight-green)!important;
    color:#000!important;
}

/*dropdown menu*/
#word-of-day{
    max-width:500px!important;
    padding:10px 20px!important;
    display:flex!important;
    justify-content:space-between!important;
    align-items:center!important;
}

[id^="dropdown_button_"] {
    max-width: 500px !important;
    padding: 10px 20px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.dropdown-menu{
    max-width:500px!important;
    width:100%;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--xlight-green);
    color:#000!important
}


/*nav*/

.lower-nav{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-around!important;
    width: 100%!important;
    max-width:500px!important;
}

.lower-nav ul li{
    margin:0px 20px!important;
}

.nav-link{
    color:rgba(0,0,0,0.5)!important;
}
.nav-link.active {
    color:rgba(0,0,0,1)!important;
}

.lower-nav-full{
    background-color:white!important;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.2);

}

/*change background color */
body:has(div.dark-background){
    background-color:var(--dark-green);
    color:#fff!important;

}

.dark-background .btn-primary{
    background-color:white!important;
    border-color:white!important;
    color:var(--dark-green)!important;
}

.dark-background .form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

.dark-background .form-check-input:focus {
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(117, 186, 150, .25)!important;
}

/*notes*/
.prior-note{
    background:white;
    margin-bottom:20px;
    border-radius:12px;
    border:2px solid var(--light-green);

}

.top-note{
    background:var(--light-green);
    padding:20px 20px 20px 20px;
    border-radius:10px 10px 0px 0px;
    margin-bottom:0px;
}

.prior-note p{
    padding:20px 20px 10px 20px;
    margin-top:0px;
}

/*favorite*/
#favorite_btn{
    width:auto!important;
    padding:0px!important;
    margin-top:-2px!important;
    font-size:25px;
    color:rgba(0,0,0,0.5)
}

#exit_btn{
    width:auto!important;
    padding:0px!important;
    margin-top:-2px!important;
    font-size:25px;
    color:rgba(0,0,0,0.5)
}

/*module*/
.module a{
    text-decoration:none;
    color:#fff!important;

}

.module{
    height:max-content;
    background:var(--dark-green);
    display:flex;
    flex-direction:row;
    align-items:center;
}

.module:has(.disabled) {
    background:rgba(72,116,93,0.5);
}
.disabled{
    cursor:default!important;

}

.module:has(.disabled) a, .module:has(.disabled) i{
    color:rgba(255,255,255,0.5)!important
}

.module i{
    color:#fff;
    font-size:25px;
}